@font-face {  
	font-family: 'ubuntul';  
	src: url('UbuntuL.eot');  
	src: local('UbuntuL'),   
	 local('UbuntuL'),   
	 url('UbuntuL.ttf') format('truetype');    
}

#fp {
	float:left;
	width: 50%;
	height:100%;
}

h1 {
	font-size: 300%;
	font-family: 

}

body {
	font-family: "ubuntul";
}

.boto {
	padding: 10px 15px;
	background-color: #699AFF;
	color:#DEF7FF;
	border: 0px;
}

.container {
	position: relative;
	left: 50px;
}

h2:hover {
	cursor: pointer;
}

#output {
	text-align: center;
	font-size:200%;
	position: fixed;
	top: 100px;
}